[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "==1.6.6"
google-auth = "==1.4.1"
"google-auth-httplib2" = "==0.0.3"
requests = "*"
pandas = "*"
sqlalchemy = "*"
"psycopg2" = "*"
mysqlclient = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-migrate = "*"
flask-wtf = "*"
flask-bootstrap = "*"
flask-testing = "*"

[dev-packages]

[requires]
python_version = "3.6"
